GPaper/service/cn/edu/sjtu/ist/workstationbuyorder/servicewadl.xml

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="http://company.ist.sjtu.edu.cn">
	<grammars>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://company.ist.sjtu.edu.cn" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://company.ist.sjtu.edu.cn">
			<xs:element name="WorkStationBuyOrder" type="tns:WorkStationBuyOrder" />
			<xs:element name="WorkStationBuyOrderCollection" type="tns:WorkStationBuyOrderCollection" />
			<xs:complexType name="WorkStationBuyOrderCollection">
				<xs:sequence>
					<xs:element minOccurs="0" name="workstationbuyorders">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="users"
									nillable="true" type="tns:WorkStationBuyOrder" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WorkStationBuyOrder">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</grammars>
	<resources base="http://localhost:7878/">
		<resource path="/workstationbuyorders">
			<method name="GET">
				<request>
					<param name="name" style="query" type="xs:string" />
				</request>
				<response>
					<representation mediaType="application/xml"
						element="prefix1:WorkStationBuyOrderCollection" />
				</response>
			</method>
			<method name="POST">
				<request>
					<representation mediaType="application/xml"
						element="prefix1:WorkStationBuyOrder" />
				</request>
				<response>
					<representation mediaType="application/xml"
						element="prefix1:WorkStationBuyOrder" />
				</response>
			</method>
			<method name="PUT">
				<request>
					<representation mediaType="application/xml"
						element="prefix1:WorkStationBuyOrder" />
				</request>
				<response>
					<representation mediaType="application/xml"
						element="prefix1:WorkStationBuyOrder" />
				</response>
			</method>
			<resource path="/{id}/">
				<param name="id" style="template" type="xs:string" />
				<method name="DELETE">
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="prefix1:WorkStationBuyOrder" />
					</response>
				</method>
				<method name="GET">
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="prefix1:WorkStationBuyOrder" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>