FileDigger/FileDiggerTest/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileDigger_ReportLive_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportLive" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_ReportLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportLiveResponse" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_addFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:addFolder" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_addFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_findFile_InputMessage">
    <wsdl:part name="parameters" element="tns:findFile" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_findFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:findFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_fetchFile_InputMessage">
    <wsdl:part name="parameters" element="tns:fetchFile" />
  </wsdl:message>
  <wsdl:message name="IFileDigger_fetchFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:fetchFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileDigger">
    <wsdl:operation name="ReportLive">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/ReportLive" message="tns:IFileDigger_ReportLive_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/ReportLiveResponse" message="tns:IFileDigger_ReportLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFolder">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/addFolder" message="tns:IFileDigger_addFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/addFolderResponse" message="tns:IFileDigger_addFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/findFile" message="tns:IFileDigger_findFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/findFileResponse" message="tns:IFileDigger_findFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fetchFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/fetchFile" message="tns:IFileDigger_fetchFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFileDigger/fetchFileResponse" message="tns:IFileDigger_fetchFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>