GPaper/service/cn/edu/sjtu/ist/acceptservice/AcceptProductServiceService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AcceptProductServiceService" targetNamespace="http://acceptservice.ist.sjtu.edu.cn/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://acceptservice.ist.sjtu.edu.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://acceptservice.ist.sjtu.edu.cn/" version="1.0" xmlns:tns="http://acceptservice.ist.sjtu.edu.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Accept" type="tns:Accept" />
<xs:element name="AcceptResponse" type="tns:AcceptResponse" />
<xs:complexType name="Accept">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="AcceptResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="AcceptResponse">
    <wsdl:part element="tns:AcceptResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Accept">
    <wsdl:part element="tns:Accept" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:portType name="AcceptProductService">
    <wsdl:operation name="Accept">
      <wsdl:input message="tns:Accept" name="Accept">
    </wsdl:input>
      <wsdl:output message="tns:AcceptResponse" name="AcceptResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AcceptProductServiceServiceSoapBinding" type="tns:AcceptProductService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Accept">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Accept">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AcceptResponse">
        <soap:body use="literal" />

      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcceptProductServiceService">
    <wsdl:port binding="tns:AcceptProductServiceServiceSoapBinding" name="AcceptProductServicePort">
      <soap:address location="http://localhost:9001/AcceptProductService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>