GPaper/service/cn/edu/sjtu/ist/askforpriceservice/AskForPriceServiceService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AskForPriceServiceService" targetNamespace="http://askforpriceservice.ist.sjtu.edu.cn/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://askforpriceservice.ist.sjtu.edu.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://askforpriceservice.ist.sjtu.edu.cn/" version="1.0" xmlns:tns="http://askforpriceservice.ist.sjtu.edu.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Approve" type="tns:Approve" />
<xs:element name="ApproveResponse" type="tns:ApproveResponse" />
<xs:complexType name="Approve">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ApproveResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ApproveResponse">
    <wsdl:part element="tns:ApproveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Approve">
    <wsdl:part element="tns:Approve" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:portType name="AskForPriceService">
    <wsdl:operation name="Approve">
      <wsdl:input message="tns:Approve" name="Approve">
    </wsdl:input>
      <wsdl:output message="tns:ApproveResponse" name="ApproveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AskForPriceServiceServiceSoapBinding" type="tns:AskForPriceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Approve">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Approve">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ApproveResponse">
        <soap:body use="literal" />

      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AskForPriceServiceService">
    <wsdl:port binding="tns:AskForPriceServiceServiceSoapBinding" name="AskForPriceServicePort">
      <soap:address location="http://localhost:9001/AskForPriceService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>